{% extends 'base.html' %} <!-- наследуется от base.html -->

{% block title %}
{{ category.title }} :: {{ block.super }}
{% endblock %}


{% block sidebar %}
{% include 'inc/_sidebar.html' %}
{% endblock %}

{% block content %}
{% for item in wiki %} <!-- тег -->
<div class="news-card">
    <div class="card-category">  
        Категория: {{ item.category }} <!-- обращаемся к шаблонизатору Jinja -->
    </div>
    <div class="card-body">
        <div class="media">
            {% if item.photo %}
                <img src=" {{ item.photo.url }}" alt="" width="350" class="mr-3">
            {% else %}

            {% endif %}
            <div class="media-body">
                <h5 class="card-title">{{ item.title }}</h5>
                <p class="card-text">{{ item.content|safe|linebreaks|truncatewords:40 }}</p>
                <a href="{{ item.get_absolute_url }}" class="card-more hover-slide">Read more...</a>
            </div>
        </div>
    </div>


    <div class="card-date">
        {{ item.created_at | date:"Y-m-d" }} <!-- фильтр |, бывают с аргументами, бывают без аргументов -->
    </div>
</div>
{% endfor %}
{% endblock %}
